<div class="page-header">
  <h1><%= I18n.t("questions.about.about", :default => "About") %></h1>
</div>

<p><%= I18n.t("questions.about.this_is_a_web_app_created_for_people_with_juvenile_records_in_illinois", :default => "This is a web app created for people with juvenile records in Illinois.") %></p>

<p><%= I18n.t("questions.about.a_juvenile", :default => "A juvenile record is a barrier to employment and education. Luckily, juvenile records can be erased through the expungement process. However, while the majority of juvenile records can be erased,") %> <a href="http://chiyouthjustice.wordpress.com/2013/02/04/cook-county-juvenile-expungement-numbers-vs-arrests/"><%= I18n.t("questions.about.few_people_apply_for_juvenile_expungement", :default => "few people apply for juvenile expungement") %></a>. <%= I18n.t("questions.about.this_web", :default => "This web app aims to clarify juvenile expungement, with the hope of more people getting their records erased!") %></p>

<p>The <a href="http://www.mikvachallenge.org/site/epage/146561_719.htm"><%= I18n.t("questions.about.idea_for_this_app", :default => "idea for this app") %></a> came from the awesome <a href="https://twitter.com/MCJJustice">Juvenile Justice Council</a> of the <a href="https://twitter.com/MikvaChallenge">Mikva Challenge</a></p>

<div class="well">
  <h4><%= I18n.t("questions.about.interested_in_learning_more_about_juvenile_justice_&_expungement_check_out_these_links", :default => "Interested in learning more about juvenile justice & expungement? Check out these links:") %></h4>
  <ul>
    <li><a href="http://www.wbez.org/news/why-it-so-hard-expunge-juvenile-records-cook-county-105257"><%= I18n.t("questions.about.why_is_it_so_hard_to_expunge_juvenile_records_in_cook_county_wbez", :default => "Why is it so hard to expunge juvenile records in Cook County? (WBEZ)") %></a></li>
    <li><a href="http://www.thenation.com/article/177017/boxed-how-criminal-record-keeps-you-unemployed-life"><%= I18n.t("questions.about.boxed_in_how_a_criminal_record_keeps_you_unemployed_for_life_the_nation", :default => "Boxed In: How a Criminal Record Keeps You Unemployed For Life (The Nation)") %></a></li>
    <li><a href="https://vine.co/u/1031276355163230208"><%= I18n.t("questions.about.expungement_vocabulary_-_explained_on_vine", :default => "Expungement vocabulary - explained on Vine") %></a></li>
    <li><a href="http://rapgenius.com/Illinois-criminal-justice-information-authority-juvenile-criminal-records-lyrics"><%= I18n.t("questions.about.illinois_juvenile_criminal_records_-_explained_on_rap_genius", :default => "Illinois Juvenile Criminal Records - explained on Rap Genius") %></a></li>
    <li><a href="https://docs.google.com/file/d/0ByNPZcL7VWcVODVkb20wYU5vOVk/edit"><%= I18n.t("questions.about.mikva_jjc_full_report_2013", :default => "Mikva JJC Full Report 2013") %></a></li>
    <li><a href="http://www.illinoislegalaid.org/index.cfm?fuseaction=home.dsp_Content&contentID=7064#"><%= I18n.t("questions.about.illinois_legal_aid_online", :default => "Illinois Legal Aid Online") %></a></li>
  </ul>
</div>
