<div class="center">

  <h2><%= I18n.t("questions.agearrested.how_old_were_you_when_you_were_arrested", :default => "How old were you when you were arrested?") %></h2>


  <%= link_to(I18n.t("questions.agearrested.16_and_under", :default => "16 & under"), juvrecord_path, :method => "get", :class => "btn btn-large")%>
  <%= link_to(I18n.t("questions.agearrested.17", :default => "17"), yeararrested_path, :method => "get", :class => "btn btn-large") %>
  <%= link_to(I18n.t("questions.agearrested.18_and_over", :default => "18 & over"), adultrecord_path, :method => "get", :class => "btn btn-large") %>
  <br><br>
  <%= link_to(I18n.t("questions.simple.im_not_sure", :default => "I'm not sure"), notsure_path, :method => "get", :class => "btn btn-large") %>

</div>
