<div class="page-header">
  <h1><%= I18n.t("questions.FAQ.frequently_asked_questions", :default => "Frequently Asked Questions") %></h1>
</div>

<h3><%= I18n.t("questions.FAQ.after_i_find_out_i_am_eligible_to_apply_for_juvenile_expungement_in_illinois_what_do_i_have_to_do", :default => "After I find out I am eligible to apply for juvenile expungement in Illinois, what do I have to do?") %></h3>
  <p><%= I18n.t("questions.FAQ.remember_that_free_legal_aid_is_available_to_help_you_complete_the_process_use_it_to_petition_for_juvenile_expungement_you_will_need_to", :default => "Remember that free legal aid is available to help you complete the process! Use it! To petition for juvenile expungement, you will need to:") %></p>
  <ol>
    <li><%= I18n.t("questions.FAQ.get_a_copy_of_your_rap_sheet", :default => " Get a copy of your RAP sheet") %></li>
    <li><%= I18n.t("questions.FAQ.fill_out_a_petition_form", :default => " Fill out a petition form") %></li>
    <li><%= I18n.t("questions.FAQ.submit_your_petition_to_the_appropriate_court", :default => " Submit your petition to the appropriate court") %></li>
  </ol>

  <h3><%= I18n.t("questions.FAQ.where_do_i_get_my_rap_sheet", :default => "Where do I get my RAP sheet?") %></h3>
    <p><%= I18n.t("questions.FAQ.for_records_in_the_city_of_chicago_go_to", :default => "For records in the city of Chicago, go to:") %></p>
    <p><%= I18n.t("questions.FAQ.records_and", :default => "Records and Services Division of the Chicago Police Department:") %><br>
      3510 S Michigan, Chicago IL 60653<br>(312)745-5508<br><%= I18n.t("questions.FAQ.mon-fri_8am-3pm", :default => "Mon-Fri 8am-3pm") %></p>


    <h3><%= I18n.t("questions.FAQ.how_much_does_juvenile_expungement_cost", :default => "How much does juvenile expungement cost?") %></h3>
    <p><%= I18n.t("questions.FAQ.it_costs", :default => "It costs $124 to expunge a single arrest, plus an extra $64 for each additional arrest. However, many people qualify for a fee waiver that makes expungement free.") %></p>

    <h3><%= I18n.t("questions.FAQ.how_long_does_the_process_take", :default => "How long does the process take?") %></h3>
    <p><%= I18n.t("questions.FAQ.usually_a_court_date_is_scheduled_about_15_months_from_the_petition_date_after_a_judge_approves_the_petition_on_the_court_date_it_takes_about_2_months_for_the_police_to_erase_records_so_35_months_total_if_necessary_expungement_can_be_expedited_to_about_25_months_total", :default => "Usually, a court date is scheduled about 1.5 months from the petition date. After a judge approves the petition on the court date, it takes about 2 months for the police to erase records. So, 3.5 months total. If necessary, expungement can be expedited to about 2.5 months total.") %></p>

    <h3><%= I18n.t("questions.FAQ.after_i_petition_for_juvenile_expungement_what_are_the_chances_that_my_petition_will_be_approved", :default => "After I petition for juvenile expungement, what are the chances that my petition will be approved?") %></h3>
    <p><%= I18n.t("questions.FAQ.whether_your", :default => "Whether your petition is approved is up to the judge. However, in the past,") %> <a href="http://chiyouthjustice.wordpress.com/2013/02/04/cook-county-juvenile-expungement-numbers-vs-arrests/"><%= I18n.t("questions.FAQ.almost_all", :default => "almost all") %></a> <%= I18n.t("questions.FAQ.petitions", :default => "petitions have been approved.") %></p>
