<div class="page-header">
  <h1><%= I18n.t("questions.index.welcome_to", :default => "Welcome to") %> <span id="match-topbar-text"><%= I18n.t("questions.index.expungeio", :default => "expunge.io") %></span> <%= I18n.t("questions.index.for_illinois", :default => "for Illinois") %></h1>
</div>

<div id="medium-text">
  <p><%= I18n.t("questions.index.17_or_younger", :default => "If you were arrested when you were 17 or younger, you probably have a juvenile record - these records do not go away on their own.") %></p>
    <p><%= I18n.t("questions.index.good_news_called", :default => "The good news: most juvenile records can be erased through a process called") %> <b><%= I18n.t("questions.index.juvenile_expungement", :default => "juvenile expungement!") %></b></p>
</div>

<br>
<div>

  <%= init_proceed_button(I18n.t("questions.index.i_was_arrested_as_a_teenager_in_illinois_can_i_erase_my_juvenile_record", :default => "I was arrested as a teenager in Illinois. Can I erase my juvenile record?")) %>

</div>
<br>
