<h1>
  <%= I18n.t("questions.index.welcome_to_expungeio_for_illinois", :default => "Erase your Illinois juvenile record!") %>
</h1>

<p><%= I18n.t("questions.index.if_you_were_arrested_when_you_were_17_or_younger_you_probably_have_a_juvenile_record_-_these_records_do_not_go_away_on_their_own", :default => "If you were arrested in IL when you were under 18, you probably have a juvenile record.") %></p>
<p><%= I18n.t("questions.index.good_news", :default => "A juvenile record does not go away on its own, and you're better off without one. The good news: most juvenile records can be erased through a process called") %>  <%= I18n.t("questions.index.juvenile_expungement", :default => "juvenile expungement.") %></p>

<h2><%= I18n.t("questions.index.juvenile_expungement_1-2-3", :default => "Juvenile Expungement 1-2-3") %></h2><br>

<div class="row-fluid" id='action-steps'>

  <div class="col-sm-4">
    <div class='well'>
      <p><%= I18n.t("questions.index.1_find_out_if_youre_eligible_for_juvenile_expungement", :default => "1. Find out if you're eligible!") %></p>
        <a href="/disclaimer" class="btn btn-warning align-bottom"><%=I18n.t("questions.index.start", :default => "START")%></a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class='well'>
      <p><%= I18n.t("questions.index.2_get_your_arrest_information_rap_sheet", :default => "2. Get your arrest information (rap sheet)") %></p>
      <a href="/step2" class="align-bottom"><%=I18n.t("questions.index.find_out_how", :default => "Find Out How")%>&nbsp<i class="fa fa-chevron-right"></i></a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class='well'>
      <p><%= I18n.t("questions.index.3_apply_for_expungement", :default => "3. Apply for expungement") %></p>
      <a href="/step3" class="align-bottom"><%=I18n.t("questions.index.get_paperwork", :default => "Get Paperwork")%>&nbsp<i class="fa fa-chevron-right"></i></a>
    </div>

  </div>

</div>

<div class="clearfix">
<div class="row-fluid">
  <hr>
  <h4>
    Know someone with a juvenile record? Help out by sharing expunge.io!&nbsp&nbsp&nbsp
    <a href="https://twitter.com/intent/tweet?text=If%20you%20have%20a%20juvenile%20record%2C%20you%20may%20be%20able%20to%20expunge%20it.%20Check%20out%20%23expungeio!&tw_p=tweetbutton&url=http%3A%2F%2Fexpunge.io"><i class="fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?app_id=309437425817038&sdk=joey&u=http%3A%2F%2Fexpunge.io" target="_blank"><i class="fa fa-facebook"></i></a>
  </h4>
</div>
