<div class="page-header">
  <h2><%= I18n.t("questions.legalaid.legal_aid", :default => "Legal Aid") %></h2>
</div>

<h3>
  <%= I18n.t("questions.legalaid.contact", :default => "Juvenile records in Cook County: Contact the") %> <a href="https://www.facebook.com/JuvenileExpungementHelpDesk"><%= I18n.t("questions.legalaid.juvenile_expungement_help_desk", :default => "Juvenile Expungement Help Desk") %></a> <%= I18n.t("questions.legalaid.at", :default => "at") %> (312) 229-6359
</h3>

<p><%= I18n.t("questions.legalaid.this_is_a_free_service_&_there_are_lawyers_who_are_eager_to_help_you", :default => "This is a free service & there are lawyers who are eager to help you!") %></p>

<br><br><br>

<div class="well">
  <p style="margin: 0 0 0 0">
    <%= I18n.t("questions.legalaid.if_you_were", :default => "If you were arrested in a different county in IL: search for your zip code") %> <a href="http://www.illinoislegalaid.org/index.cfm?fuseaction=home.dsp_content&contentID=7064#a=legalhelp"><%= I18n.t("questions.legalaid.here", :default => "here") %></a> <%= I18n.t("questions.legalaid.and_contact_the", :default => "and contact the appropriate legal aid organization") %>

  </p>
</div>
