<h3><%= I18n.t("questions.noteligible.you_are_not_eligible_to_apply_for_expungement", :default => "You are not eligible to apply for expungement") %></h3>
<br>
<h4><%= I18n.t("questions.noteligible.however_there_are_still_options_for_you", :default => "However, there are still options for you:") %></h4>
	<ul>
		<li><a href="http://www.nlen.org"><%= I18n.t("questions.noteligible.north_lawndale_employment_network", :default => "North Lawndale Employment Network") %></a></li>
		<li><a href="http://xamire.com/felony-friendly/illinois.html"><%= I18n.t("questions.noteligible.xamire_felony_friendly_jobs_network", :default => "Xamire Felony Friendly Jobs Network") %></a></li>
		<li><a href="http://m.wikihow.com/Get-a-Job-with-a-Criminal-Record"><%= I18n.t("questions.noteligible.how_to_apply_for_a_job", :default => "How to apply for a job") %></a></li>
	</ul>

<h4><%= I18n.t("questions.noteligible.if_you_have_any_questions_contact_legal_aid", :default => "If you have any questions, contact legal aid!") %></h4>
