<h3><%= I18n.t("questions.notyet3.you_are_not_yet_eligible_to_apply_for_juvenile_expungement_but_hold_tight_-_you_will_be_eligible_once_it_has_been_5_years_since_your_case_ended", :default => "You are not yet eligible to apply for juvenile expungement, but hold tight - you will be eligible once it has been 5 years since your case ended.") %></h3>
<br>
<h4><%= I18n.t("questions.notyet3.there_are_still_options_for_you_now", :default => "There are still options for you NOW:") %></h4>
	<ul>
		<li><a href="http://www.nlen.org"><%= I18n.t("questions.notyet3.north_lawndale_employment_network", :default => "North Lawndale Employment Network") %></a></li>
		<li><a href="http://xamire.com/felony-friendly/illinois.html"><%= I18n.t("questions.notyet3.xamire_felony_friendly_jobs_network", :default => "Xamire Felony Friendly Jobs Network") %></a></li>
		<li><a href="http://m.wikihow.com/Get-a-Job-with-a-Criminal-Record"><%= I18n.t("questions.notyet3.how_to_apply_for_a_job", :default => "How to apply for a job") %></a></li>
	</ul>
