<div class="center">

  <h2><%= I18n.t("questions.qa.after_you_were_arrested_did_you_see_a_judge_in_court", :default => "After you were arrested, did you see a judge in court?") %></h2>
  <p><%= I18n.t("questions.qa.note_the_expungement_process_is_per_case_-_if_you_have_multiple_arrests_or_court_cases_each_case_must_be_considered_separately", :default => "Note: the expungement process is per case - if you have multiple arrests or court cases, each case must be considered separately.") %></p>


  <%= link_to(I18n.t("questions.simple.y", :default => "No"), q2_path, :method => "get", :class => "btn btn-large")%>
  <%= link_to(I18n.t("questions.simple.n", :default => "Yes"), qb_path, :method => "get", :class => "btn btn-large") %>
  <br><br>
  <%= link_to(I18n.t("questions.simple.im_not_sure", :default => "I'm not sure"), notsure_path, :method => "get", :class => "btn btn-large") %>

</div>
