<div class="center">

<h2><%= I18n.t("questions.qc.what_happened_in_your_case", :default => "What happened in your case?") %></h2>


<%= link_to("found not delinquent", q2_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("got supervision", qd_path, :method => "get", :class => "btn btn-large") %>
<%= link_to("found delinquent", q3_path, :method => "get", :class => "btn btn-large") %>
<br><br>
<%= link_to("I'm not sure", notsure_path, :method => "get", :class => "btn btn-large") %>

</div>
