<div class="page-header">
  <h2><%= I18n.t("questions.step2.how_to_get_your_arrest_information", :default => "How to get your arrest information") %></h2>
</div>

<p><%= I18n.t("questions.step2.in_order_to_apply_for_juvenile_expungement_you_will_need_your_arrest_information", :default => "In order to apply for juvenile expungement, you will need your arrest information.") %></p><br>

<h3>
	<%= I18n.t("questions.step2.if_you_were_arrested_in_chicago", :default => "If you were arrested in Chicago:") %>
</h3>

<p>You can pick up your arrest record <strong><%= I18n.t("questions.step2.for_free", :default => "for free") %></strong> in person at:<br><br>Records and Services Division of the Chicago Police Department<br>
3510 S Michigan, Chicago IL 60653<br>(312)745-5508<br><%= I18n.t("questions.step2.mon-fri_8am-12pm", :default => "Mon-Fri 8am-12pm") %></p>

<br>

<h3>
	<%= I18n.t("questions.step2.if_you_were_arrested_outside_of_chicago", :default => "If you were arrested outside of Chicago:") %>
</h3>

<p>You will need to get two pieces of information from the police department that arrested you: (1) the date of arrest and (2) the arrest charge. Call the police department where you were arrested, and ask how you can get this information.<br><br><%= I18n.t("questions.step2.if_a_police_department_tells_you_it_cannot_give_you_this_information_contact_the_juvenile_expungement_help_desk_at_312-229-6359", :default => "If a police department tells you it cannot give you this information, contact the Juvenile Expungement Help Desk at 312-229-6359.") %></p><br><br>

<div class="well well-sm">
	After you have your arrest information, move on to the next step - <a href="/step3"><%= I18n.t("questions.step2.applying_for_expungement", :default => "applying for expungement") %></a>!

</div>
