<!DOCTYPE html>
<html>
<head>

  <!--google analytics-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46830328-2', 'expunge.io');
  ga('send', 'pageview');
  </script>

  <!--favicon-->
  <%= favicon_link_tag 'favicon.png' %>

  <title>Expunge.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <header role="banner">
      <nav class="navbar navbar-fixed-top bs-docs-nav topbar" role="navigation">
        <div class="container topbar">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <a class="brand" href="/">Expunge.io</a>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Home", :action => "index" %></li>
            <li><%= link_to "About", :action => "about" %></li>
            <li><%= link_to "FAQs", :action => "FAQ" %></li>
            <li><%= link_to "LEGAL AID!", :action => "legalaid" %></li>
          </ul>
        </div>
      </nav>
    </header>

    <div id="content" class="container">
      <%= yield %>
    </div>

    <div class="push"></div>
  </div>

  <footer>
    <div class="container">
      <div class="row" style="font-size: .9em">
        <div class="span7">
          Created by <a href="http://twitter.com/cthydng" target="_blank">Cathy Deng</a> & ideated by <a href="https://twitter.com/MCJJustice" target="_blank">Mikva JJC</a><br>
          Hosted by <a href="http://www.smartchicagocollaborative.org/">Smart Chicago</a> | 
          Code on <a href="https://github.com/cathydeng/expunge.io" target="_blank">GitHub</a>
        </div>
        <div class="span5" style="text-align: right">
          Share expunge.io! <br>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://expunge.io" data-count="none" data-text="If you have a juvenile record, you may be able to expunge it. Check out Expunge.io!">Tweet</a>
          
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-share-button" data-href="http://expunge.io" data-type="button"></div>

        </div>
      </div>    
    </div>
  </footer>
    
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
