<!DOCTYPE html>
<html>
  <head>
    <title>Expunge.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--favicon-->
    <%= favicon_link_tag 'favicon.png' %>

    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--[if lte IE 7]>
    <style type="text/css">
    .nav li {
    display: inline;
    zoom: 1;
    margin: 0 10px;
    }
    </style>
    <![endif]-->
  </head>
  <body>

      <div class="navbar navbar-inverse" style="border-radius: 0px">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav">
            <li class="brand"></li>
            <li><a href="/"><%=I18n.t("layouts.application.home", :default => "Home")%></a></li>
            <li><a href="/about"><%=I18n.t("layouts.application.about", :default => "About")%></a></li>
            <li><a href="/FAQ"><%=I18n.t("layouts.application.faqs", :default => "FAQs")%></a></li>
            <li>
              <% if I18n.locale == :es %>
                <%= link_to "English", set_language_english_path %>
              <% elsif I18n.locale == :en %>
                <%= link_to "Español", set_language_spanish_path %>
              <% end %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/legalaid"><%=I18n.t("layouts.application.legal_aid", :default => "LEGAL AID!")%></a></li>
          </ul>
        </div>
      </div>

      <div id="content" class="container">
        <%= yield %>
      </div>



    <footer class="footer">
      <div class="container">
        <div class="row" style="font-size: .9em">
          <span>
          <div>
            Know someone with a juvenile record? Help out by sharing expunge.io!&nbsp&nbsp&nbsp
                <a href="https://twitter.com/intent/tweet?text=If%20you%20have%20a%20juvenile%20record%2C%20you%20may%20be%20able%20to%20expunge%20it.%20Check%20out%20%23expungeio!&tw_p=tweetbutton&url=http%3A%2F%2Fexpunge.io"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/sharer/sharer.php?app_id=309437425817038&sdk=joey&u=http%3A%2F%2Fexpunge.io" target="_blank"><i class="fa fa-facebook"></i></a>

          </div>
          <span>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!--google analytics-->
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-46830328-2', 'expunge.io');
     ga('send', 'pageview');

     /* SCC */
     ga('create', 'UA-37739534-19', 'expunge.io', {'name': 'scc'});
     ga('scc.send', 'pageview');
    </script>
  </body>

</html>
